@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f0f6f8, #e0e1e7);
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #e9ecef;
  color: rgb(30, 55, 90);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #495057;
}

label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #495057;
}

input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border: 2px solid  #495057;
  border-radius: 4px;
}

.radio-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.radio-group {
  margin-right: 20px;
}

select {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  color: #495057 ;
  background-color: #f8f9fa;
  border: 2px solid  #495057;
  border-radius: 4px;
}

.primary-form-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #495057;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  outline: 2px solid black;
  color: white;
  cursor: pointer;
}

.primary-form-button:hover {
  background-color: #343a40;
}

.secondary-form-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #909a9a;
  cursor: pointer;
}

.secondary-form-button:hover {
  color: #343a40;
}

.grid-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.grid-item {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 6px;
  border: 2px solid  #B81B0E;
  /* border: 2px solid #F7B500 */
  /* border: 2px solid #549C30; */
  box-shadow: 0 0 5px #B81B0E;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-button {
  padding: 0.75rem;
  margin-top: 1rem;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #909a9a;
  cursor: pointer;
}

.secondary-form-button:hover {
  color: #343a40;
}

.NotStarted {
  box-shadow: 0 0 5px #B81B0E;
  border: 2px solid  #B81B0E;
}

.InProgress {
  box-shadow: 0 0 5px #F7B500 ;
  border: 2px solid  #F7B500 ;
}

.Completed {
  box-shadow: 0 0 5px #549C30 ;
  border: 2px solid  #549C30 ;
}

input:invalid + span::after {
  content: " ✖ You used an invalid date. Use the date picker to select a valid date.";
}

input:valid + span::after {
  content: " ✓";
}


.column-title {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

li article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li h2 {
  margin: 0;
  font-size: 1.25rem;
 color: #495057;
}

li p {
  margin: 0;
  font-size: 0.85rem;
  color: #dfd9be;
}

li button {
  font: inherit;
  padding: 0 0.5rem;
  background: transparent;
  border: none;
  color: #909a9a;
  cursor: pointer;
}

li button:hover {
  color: #343a40;
}

.fallback {
  text-align: center;
  color: #acd1ce;
}