@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f0f6f8, #e0e1e7);
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #e9ecef;
  color: rgb(30, 55, 90);
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #495057;
}

h2 {
  color: #343a40;
  margin: 0 0 16px 0;
  font-weight: 200;
}

label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #495057;
}

input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border: 2px solid  #495057;
  border-radius: 4px;
}

.radio-form {
  display: flex;
  justify-content: space-around;
}

.radio-group {
  margin-right: 20px;
}

select {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  color: #495057 ;
  background-color: #f8f9fa;
  border: 2px solid  #495057;
  border-radius: 4px;
}

.primary-form-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #495057;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  outline: 2px solid black;
  color: white;
  cursor: pointer;
}

.primary-form-button:hover {
  background-color: #343a40;
}

.secondary-form-button {
  display: block;  
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #4A4F4F;
  cursor: pointer;
}

.secondary-form-button:hover {
  color: #343a40;
  outline: 2px solid #343a40;
  border-radius: 4px; 
}

.button-icon {
  height: .75em; 
  width: 1.1em;
  margin-right: 4px;
  border-radius: 0;
  object-fit: contain;
}

.sr-only { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0, 0, 0, 0); 
  white-space: nowrap; 
  border: 0; 
}

.grid-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.grid-item {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 6px;
}

.priority-margin {
  margin-bottom: 1rem;
}

.planner {
  padding: 0.5rem 0.75rem 0 0.75rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-button {
  padding: 0.75rem 0.75rem 0.25rem 0.75rem; 
  margin-top: 1rem;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #4A4F4F;;
  cursor: pointer;
}

.pagination-button:hover {
  color: #343a40;
  text-decoration: underline;
  text-decoration-color: #343a40;
  text-decoration-thickness: 3px ;  
}

.secondary-form-button:hover {
  color: #343a40;
}

.not-started {
  box-shadow: 0 0 5px #B81B0E;
  border: 2px solid  #B81B0E;
}

.in-progress {
  box-shadow: 0 0 5px #F7B500 ;
  border: 2px solid  #F7B500 ;
}

.completed {
  box-shadow: 0 0 5px #549C30 ;
  border: 2px solid  #549C30 ;
}

.not-started-p {
  color: #B81B0E;
}

.in-progress-p {
  color: #F7B500 ;
}

.completed-p {
  color: #549C30 ;
}

input:invalid + span::after {
  content: " ✖ Use the date picker to select a valid date.";
}

input:valid + span::after {
  content: " ✓";
}

input:focus {
  outline-color: rgb(229, 151, 0);
}

.column-title {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-item article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.grid-item h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #495057;
  padding-bottom: .5rem
}

.grid-item-header {
  padding: 0 1rem 2rem 0;  
}

.grid-item p {
  margin: 0;
  font-size: 0.85rem;
}

.grid-item button {
  font: inherit;
  padding: 0 ;
  background: transparent;
  border: none;
  color: #909a9a;
  cursor: pointer;
}

.grid-item button:hover {
  color: #343a40;
}

.fallback {
  text-align: center;
  color: #acd1ce;
}